@charset "utf-8";

// Bulma customization
@use "../node_modules/bulma/sass/utilities/initial-variables" as iv with (
  $family-sans-serif: ("Latin Modern Roman", serif),
  $gap: 64px,
  $desktop: 988px,
  $widescreen-enabled: false,
  $fullhd-enabled: false
);

@use "../node_modules/bulma/sass/utilities/derived-variables" as dv with (
  $primary: #000,
  $link: #a00,
  $dark: #000
);

@use "../node_modules/bulma/bulma.scss";

// Theme variables (used in custom styles below)
$dark: #000;
$link: #a00;
$link-hover: #202020;
$cyan: #000;
$family-serif: "Latin Modern Roman", serif;
$code-background: #e8e8e8;

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: normal;
	src: url('/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: normal;
	font-style: italic;
	src: url('/fonts/lmroman10-italic.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Roman';
	font-weight: bold;
	font-style: italic;
	src: url('/fonts/lmroman10-bolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Mono';
	font-weight: normal;
	font-style: normal;
	src: url('/fonts/lmmono10-regular.woff') format('woff');
}

@font-face {
	font-family: 'Latin Modern Mono';
	font-weight: normal;
	font-style: italic;
	src: url('/fonts/lmmono10-italic.woff') format('woff');
}

html {
    box-sizing: border-box;
    clear: both;
}

body {
    line-height: 1.5;
    padding: 2em 2em;
    color: $dark;
    font-size: 14pt;

    h1, h2, h3, h4, h5, h6 {
        font-family: $family-serif;
        border: none;
    }
}

.icon {
    font-size: 1.2em;
    margin: .5em .5em;
}

.button {
    &:active:not([disabled]) {
        top:1px;
    }
}

.container {
    justify-content: center;

    h1 {
        font-size: 2em;
        color: $link;
    }

    h2 {
        font-size: 1.5em;
        color: $dark;
    }

    h3 {
        font-size: 1.2em;
        color: $dark;
    }

    h4 {
        font-size: 1.1em;
        color: $dark;
    }

    h5 {
        font-size: 1em;
        padding-right: 2em;
        color: $dark;
    }

    h6 {
        font-size: .75em;
    }

    .navbar {
        padding: 3rem 0rem;
        .navbar-brand {
            margin-left: 0;
            align-items: center;
            justify-content: center;
        }
        .navbar-menu {
            box-shadow: 0 0 0;
            padding: 1em 0;
        }
    }
}

.content {
    text-align: justify;
    max-width: 720px;
    margin: 1em auto;
    line-height: 1.5em;

    h1, h2, h3, h4, h5, h6 {
        font-family: $family-serif;
        border: none;
        font-weight: bold;
    }

    blockquote {
        background-color: #f1ebe2;
        border: 1px $cyan solid;
        border-radius: 5px;
    }

    code {
        border-radius: 5px;
    }

    pre {
        padding: 1.25em 0;
        code {
            border-radius: 5px;
        }
    }

    :not(pre) > code {
        display: inline !important;
        padding: .2em .4em;
        background-color: $code-background;
    }

    .button {
        color: $link;
        border: 0px;
        &:hover {
            color: $link-hover;
        }
    }
}

#share {
    padding: 1.5em 0;
}

// hugo content display fix
.hugo-figure {
    img {
        display: block;
        margin: 0.7rem auto;
        border-radius: 5px;
        object-fit: cover;
        border: 1px $cyan solid;
    }
}

.nav-item {
    &:hover {
        color: $link;
    }
}
