<div class="container">
  {{ partial "header" . }}
  {{ partial "nav" . }}

  <main class="container">
    <div class="columns">

      <div class="column is-one-third">
        <a href="{{ .Site.BaseURL }}">
        <h4><strong>{{ .Site.Params.name }}</strong></h4>
        </a>
        {{ range .Site.Params.bio }}
        <h6>{{ . }}</h6>
        {{ end }}
        <br>

        <h6>Content</h6>
        <ul>
          {{ range .Site.Sections }}
          <li><a href="{{ .Permalink }}">/{{ .Title }}</a></li>
          {{ end }}
        </ul>

        <br>
        <h6>Socials</h6>
        <ul>
          {{ range .Site.Params.social }}
          <li>
            <a href="{{ .url }}">/{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="column">
          <div>
            <h2 class="subtitle is-inline is-size-4-mobile is-size-3-desktop"><a
                href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h2>
            <div class="content">
              {{ .Content }}
            </div>
          </div>

          <div>
            <h2 class="subtitle is-inline is-size-4-mobile is-size-3-desktop">
              Experience</h2>
            {{ range .Site.Data.experience}}
            <div class='mt-5'>
              <div class='columns'>
                <div class="column">
                  <h4><a href={{ .company_url }}>{{ .company | markdownify }}</a></h4>
                  <h5><i>{{ .role }}</i></h5>
                </div>
                <div class="column" align="right">
                  <h6>{{ .range }}</a></h6>
                </div>
              </div>
              <div>{{ .summary | markdownify }}</div>
            </div>
            {{ end }}

          </div>

        <div class="mt-5">
          <h2 class="subtitle is-inline is-size-4-mobile is-size-3-desktop">
            Education
          </h2>

          {{ range .Site.Data.education}}
          <div class='mt-5'>
                <h6>{{ .range }}</a></h6>
                <h4><strong>{{ .title | markdownify }}</strong></h4>
                <h5>{{ .curriculum }}</h5>
            <div>{{ .summary | markdownify }}</div>
          </div>
          {{ end }}

        </div>
        </article>
      </div>
    </div>
  </main>
  {{ partial "footer" . }}
</div>